/*Style sheet*/
@charset "utf-8";

.main_body	
{
	background-color:#92D0FC;
	/*background-image:url('http://home-design-information.com/wp-content/uploads/2014/01/bathroom-floor-tile-texturebathroom-wall-tiles-texture-new-homes-specialists-home-improvement-fik6itt1.jpg');*/
}

.wrapper
{
	
}

.header
{
	background-color:#35AAFC;
	height:150px;
}

.header .logo
{
	text-align:left;
}

.header .search
{
	padding-top:75px;
	text-align:center;
}

.header .search .search_input
{
	width:300px;
}

.header .social
{
	text-align:right;
}

.content
{
	background-color:#BDE2FC;
}

.content .splash
{
	padding-top:20px;
	text-align:center;
}

.content .content-row
{
	padding:25px;
}

.content .cart
{
	width:30%; 
	float:right;
}

.content .description
{
	width:70%; 
	text-align:left;
}

.footer
{
	background-color:#35AAFC;
}